*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.contenedor{
    display: grid;
    grid-template-rows: 25vh 70vh 10vh;
    grid-template-columns: 10% 80% 10%;
}

.fondoForm{
    grid-column: 1 /4;
    grid-row: 1 / 4;
    background-image: url(../../img/fondoBasket7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;

    animation: filtro 8s linear infinite;
}

.titulo{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.titulo i{
    font-size: 3.2rem;
    margin: 0rem 2rem;
    color: #221F1F;
}

.titulo h1{
    font-size: 3.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    background-size: 100%;
    background: -webkit-linear-gradient(45deg, #1D418B, #C90E2F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.formulario{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-family: 'Rubik', sans-serif;
    margin: 0rem 2rem;
    z-index: 1;
    border: 1px solid #221F1F;
    background: -webkit-linear-gradient(45deg, rgb(29, 65, 139, 0.5), rgb(201, 14, 47, 0.5));
    background-size: 300% 300%;
    -webkit-animation: gradiente 5s ease infinite;
    animation: gradiente 5s ease infinite;
}

@keyframes filtro{

    0%{filter: none;}
    50%{filter: sepia(60%);}
    100%{filter: none;}
}

@-webkit-keyframes gradiente{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}

@keyframes gradiente{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}