*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.contenedor{
    display: grid;
    grid-template-rows: 35vh 70vh 10vh;
    grid-template-columns: 10% 80% 10%;
}

.fondoForm{
    grid-column: 1 /4;
    grid-row: 1 / 4;
    background-image: url(../../img/fondoBasket7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;

    animation: filtro 8s linear infinite;
}

.titulo{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.titulo i{
    font-size: 3.2rem;
    margin: 0rem 2rem;
}

.titulo h1{
    font-size: 3.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.formulario{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-family: 'Rubik', sans-serif;
    margin: 0rem 2rem;
    background-color: rgb(202, 19, 49, 0.4);
    z-index: 1;
    border: 1px solid black;
}

@keyframes filtro{

    0%{filter: none;}
    50%{filter: saturate(75%);}
    100%{filter: none;}
}