*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

main{
    background-color: black;
}

    .kobe{
        display: grid;
        grid-template-columns: 3% 60% 3% 31% 3%;
        grid-template-rows: 6vh 69vh 6vh;
    }

        .fondoKobe{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            display: flex;
            align-items: center;
        }

        .fondoKobe video:hover{
            opacity: 0.5;
        }

            video{
                width: 100%;
                height: 100%;
            }
        
        .sliderKobe{
            grid-column: 4 / 5;
            grid-row: 2 / 3;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border: 0.3rem solid #552583;
        }

            .sliderKobe ul{
                display: flex;
                width: 100%;
                height: 110%;
            }

                .sliderKobe li{
                    width: 100%;
                    list-style: none;
                }

                    .sliderKobe img{
                        animation: cambioKobeGigi 10s infinite alternate linear;
                        height: 100%;
                        width: 31vw;
                    }

    article{
        display: grid;
        grid-template-columns: 3% 94% 3%;
        grid-template-rows: 50vh;
    }

        .kobeAndGigi{
            background-color: #fdb927;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            display: grid;
            grid-template-columns: 1% 44% 5% 5% 44% 1%;
            grid-template-rows: 3% 94% 3%;
        }

            .gigiBox{
                background-color: white;
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                padding: 0rem 1rem 0rem 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: justify;
                border: 1px solid black;
            }

            .gigiBox h2{
                text-align: center;
                font-family: 'Rubik', sans-serif;
                margin-top: 0.2rem;
            }

            .gigiBox p{
                font-family: 'Rubik', sans-serif;
                line-height: 2rem;
                margin-top: 0.2rem;
            }

            .and{
                grid-column: 3 / 5;
                grid-row: 2 / 3;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
            }

                .and p{
                    color: #552583;
                    font-family: 'Rubik', sans-serif;
                    font-size: 10rem;
                    -webkit-text-stroke: 0.3rem black;
                }

            .kobeBox{
                background-color: gold;
                grid-column: 5 / 6;
                grid-row: 2 / 3;
                width: 100%;
                height: 100%;
            }

    .gigi{
        display: grid;
        grid-template-columns: 3% 31% 3% 60% 3%;
        grid-template-rows: 6vh 69vh 6vh;
    }

        .fondoGigi{
            grid-column: 4 / 5;
            grid-row:  2 / 3;
        }

        .fondoGigi video:hover{
            opacity: 0.5;
        }

        .sliderGigi{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            overflow: hidden;
            border: 0.3rem solid white;
        }

            .sliderGigi ul{
                display: flex;
                width: 100%;
                height: 125%;
            }

                .sliderGigi li{
                    width: 100%;
                    list-style: none;
                }

                    .sliderGigi img{
                        animation: cambioKobeGigi 10s infinite alternate linear;
                        height: 100%;
                        width: 31vw;
                    }

@keyframes cambioKobeGigi{
	0% {margin-left: 0;}
    25% {margin-left: 0;}
	75% {margin-left: -100%;}
	100% {margin-left: -100%;}
}

