*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

    .contenedorFondo{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        background-image: url(../../img/fondosWebComp/fondoBasket10.jpg);
        background-size: cover;
        display: grid;
        grid-template-columns: 3% 45% 4% 45% 3%;
        grid-template-rows: 3vh auto 3vh 52vh 3vh 52vh 3vh;
    }

        .flechas{
            font-family: 'Rubik', sans-serif;
            font-size: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            -webkit-text-stroke: 0.1rem black;
        }

        .flechas.Lebron{
            grid-column: 3 / 4;
            grid-row: 2 / 3;
            color: #C90E2F;
        }

        .flechas.Michael{
            grid-column: 3 / 4;
            grid-row: 4 / 5;
            color: #1D418B;
        }

        .flechas.Kareem{
            grid-column: 3 / 4;
            grid-row: 6 / 7;
            color: white;
        }

        .lebronJames{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            background-image: url(../../img/lebron/lebron1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            display: grid;
            grid-template-columns: 50% 14% 4% 20% 10% 2%;
            grid-template-rows: 25% 24% 48% 3%;
            border: 0.2rem solid #C90E2F;
            transition-duration: 3s;
            z-index: 1;
            cursor: pointer;
        }

        .lebronJames.right{
            transform: translateX(108.9%);
            transition-duration: 3s;
        }

        .lebronAwards{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            background-color: #C90E2F;
            border: 0.2rem solid #221f1f;
        }

        .vidaPersonal.Lebron{
            grid-column: 4 / 5;
            grid-row: 2 / 3;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: justify;
            border: 0.05rem solid black;
            font-family: 'Rubik', sans-serif;
            background-image: url(../../img/parquet/parquet1.jpg);
            background-size: cover;
            padding: 5%;
            line-height: 250%;
        }

            .lebronPerfil{
                grid-column: 4 / 6;
                grid-row: 3 / 4;
                background-image: url(../../img/lebron/lebronPerfil1.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 45%;
                border-radius: 50%;
                border: 0.2rem solid #C90E2F;
                z-index: 2;
            }

            .lebronNombre{
                grid-column: 2 / 7;
                grid-row: 1 / 2;
                color: #C90E2F;
                font-family: 'Rubik', sans-serif;
                font-weight: bold;
                font-size: 2rem;
                z-index: 2;
                display: flex;
                justify-content: flex-end;
                margin-right: 0.3rem;
            }

            .dorsal1{
                font-family: 'Rubik', sans-serif;
                font-weight: bold;
                font-size: 2rem;
                z-index: 2;
                grid-column: 1 / 2;
                grid-row: 3 / 5;
                color: #C90E2F;
                display: flex;
                align-items: flex-end;
                margin-left: 0.3rem;
            }

        .michaelJordan{
            grid-column: 4 / 5;
            grid-row: 4 / 5;
            background-image: url(../../img/jordan/jordan1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            display: grid;
            grid-template-columns: 68% 30% 2%;
            grid-template-rows: 4% 52% 26% 18%;
            border: 0.2rem solid #1D418B;
            transition-duration: 3s;
            z-index: 1;
            cursor: pointer
        }

        .michaelJordan.left{
            transform: translateX(-108.9%);
            transition-duration: 3s;
        }

        .michaelAwards{
            grid-column: 4 / 5;
            grid-row: 4 / 5;
            background-color: #1D418B;
            border: 0.2rem solid #221f1f;
        }

        .vidaPersonal.Michael{
            grid-column: 2 / 3;
            grid-row: 4 / 5;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: justify;
            border: 0.05rem solid black;
            font-family: 'Rubik', sans-serif;
            background-image: url(../../img/parquet/parquet1.jpg);
            background-size: cover;
        }

            .michaelPerfil{
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                background-image: url(../../img/jordan/jordanPerfil2.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 50%;
                border: 0.2rem solid #1D418B;
            }

            .michaelNombre{
                grid-column: 1 / 2;
                grid-row: 4 / 5;
                color: #1D418B;
                font-family: 'Rubik', sans-serif;
                font-weight: bold;
                font-size: 2rem;
                z-index: 2;
                margin-left: 0.3rem;
                display: flex;
                align-items: flex-end;
            }

            .dorsal2{
                font-family: 'Rubik', sans-serif;
                font-weight: bold;
                font-size: 2rem;
                z-index: 2;
                grid-column: 2 / 3;
                grid-row: 4 / 5;
                color: #1D418B;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
            }

        .kareemAbdul{
            grid-column: 2 / 3;
            grid-row: 6 / 7;
            background-image: url(../../img/kareem/kareem1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            display: grid;
            grid-template-columns: 68% 30% 2%;
            grid-template-rows: 25% 19% 52% 4%;
            border: 0.2rem solid white;
            transition-duration: 3s;
            z-index: 1;
            cursor: pointer;
        }

        .kareemAbdul.right{
            transform: translateX(108.9%);
            transition-duration: 3s;
        }

        .kareemAwards{
            grid-column: 2 / 3;
            grid-row: 6 / 7;
            background-color: white;
            border: 0.2rem solid #221f1f;
        }

        .vidaPersonal.Kareem{
            grid-column: 4 / 5;
            grid-row: 6 / 7;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: justify;
            border: 0.05rem solid black;
            font-family: 'Rubik', sans-serif;
            background-image: url(../../img/parquet/parquet1.jpg);
            background-size: cover;
        }

            .kareemPerfil{
                grid-column: 2 / 3;
                grid-row: 3 / 4;
                background-image: url(../../img/kareem/kareemPerfil1.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
                border: 0.2rem solid white;
            }

            .kareemNombre{
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                color: white;
                font-family: 'Rubik', sans-serif;
                font-weight: bold;
                font-size: 2rem;
                z-index: 2;
                margin-left: 0.3rem;
            }

            .dorsal3{
                font-family: 'Rubik', sans-serif;
                font-weight: bold;
                font-size: 2rem;
                z-index: 2;
                grid-column: 1 / 2;
                grid-row: 3 / 5;
                color: white;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                margin-left: 0.3rem;
            }
